@model ResimViewModel
@{
    ViewData["Title"] = "Resim Galerisi";
}

<h1>Resim Galerisi</h1>

<form method="post" enctype="multipart/form-data">
    <div class="d-flex align-items-center">
        <label class="me-2">Resim:</label>
        <input class="form-control w-auto me-3" type="file" required>
        <label class="me-2">Başlık:</label>
        <input class="form-control w-auto me-3" type="text" placeholder="Başlık.." required>
        <button class="btn btn-primary">Yükle</button>  
    </div>
</form>
